language: python
python:
  - "3.6"
  - "3.7"
services:
  - xvfb
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors

compiler: clang

before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
  - pip install codecov
  - pip install cython
  - pip install setuptools==50.3.0

install:
  - pip install .
  - pip install nose coverage
  - pip install coveralls
# # command to run tests, e.g. python setup.py test
script:
  - python setup.py nosetests --with-coverage --cover-package pypiview

after_sucess:
  coveralls