
image: Visual Studio 2015

environment:

  matrix:
    - PYTHONPATH: C:\Python36
    - PYTHONPATH: C:\Python37
    - PYTHONPATH: C:\Python38

  global:
    PATH: C:\mingw-w64\i686-5.3.0-posix-dwarf-rt_v4-rev0\mingw32\bin;$(PATH)
    CXX: g++.exe
    CC: gcc
    GCOV: gcov
    MAKE: mingw32-make

before_build:
- cmd: |
    set PATH=%PYTHONPATH%;%PYTHONPATH%\Scripts;%PATH%
    %CXX% --version
    "%PYTHONPATH%/python.exe" -m pip install --upgrade pip setuptools codecov cython numpy pandas nose coverage coveralls wheel
    cd C:\projects\pyann\pyann\annlib\lib
    %MAKE%

build_script:
- cmd: |
    cd C:\projects\pyann
    "%PYTHONPATH%/python.exe" -m pip install .

test_script:
- cmd: |
    "%PYTHONPATH%/python.exe" setup.py nosetests --with-coverage --cover-package pyann
    "%PYTHONPATH%/python.exe" setup.py sdist bdist_wheel
    dir

artifacts:
  - path: dist\*