
image: Visual Studio 2015

environment:

  matrix:
    - PYTHONPATH: C:\Python36
    - PYTHONPATH: C:\Python37
    - PYTHONPATH: C:\Python38

  global:
    PATH: C:\mingw-w64\i686-5.3.0-posix-dwarf-rt_v4-rev0\mingw32\bin;$(PATH)
    CXX: g++.exe
    CC: gcc
    GCOV: gcov
    MAKE: mingw32-make

before_build:
- cmd: |
    set PATH=%PYTHONPATH%;%PYTHONPATH%\Scripts;%PATH%
    %CXX% --version
    "%PYTHONPATH%/python.exe" -m pip install --upgrade pip
    "%PYTHONPATH%/python.exe" -m pip install --upgrade setuptools
    "%PYTHONPATH%/python.exe" -m pip install --upgrade codecov
    "%PYTHONPATH%/python.exe" -m pip install --upgrade cython
    "%PYTHONPATH%/python.exe" -m pip install --upgrade numpy
    "%PYTHONPATH%/python.exe" -m pip install --upgrade pandas
    cd C:\projects\pyann
    %MAKE%

build_script:
- cmd: |
    cd C:\projects\pyann
    "%PYTHONPATH%/python.exe" -m pip install .
    "%PYTHONPATH%/python.exe" -m pip install --upgrade nose
    "%PYTHONPATH%/python.exe" -m pip install --upgrade coverage
    "%PYTHONPATH%/python.exe" -m pip install --upgrade coveralls

test_script:
- cmd: |
    "%PYTHONPATH%/python.exe" setup.py nosetests --with-coverage --cover-package pyann

artifacts:
  - path: dist*