
image: Visual Studio 2015

environment:

  global:
    PATH: C:\mingw-w64\i686-5.3.0-posix-dwarf-rt_v4-rev0\mingw32\bin;$(PATH)
    CXX: g++.exe
    CC: gcc
    GCOV: gcov
    MAKE: mingw32-make

  matrix:
    - PYTHONPATH: C:\Python36
      ENABLE_CONTRIB: 0
      ENABLE_HEADLESS: 0

    - PYTHONPATH: C:\Python37
      ENABLE_CONTRIB: 0
      ENABLE_HEADLESS: 0

    - PYTHONPATH: C:\Python38
      ENABLE_CONTRIB: 0
      ENABLE_HEADLESS: 0

matrix:
    fast_finish: true

before_build:
- cmd: |
    'set PATH=%PYTHONPATH%;%PYTHONPATH%\Scripts;%PATH%'
    dir %PYTHONPATH%
    %CXX% --version
    "%PYTHON%/python.exe" -m pip install --upgrade pip
    "%PYTHON%/python.exe" -m pip install --upgrade setuptools
    "%PYTHON%/python.exe" -m pip install --upgrade codecov
    "%PYTHON%/python.exe" -m pip install --upgrade cython
    cd ${Env:APPVEYOR_BUILD_FOLDER}
    %CXX% -c \pyann\annlib\lib\NN.cc

build_script:
- cmd: |
    set "CI_BUILD=1" && "%PYTHON%/python.exe" -m pip wheel --wheel-dir=%cd%\dist . --verbose
    "%PYTHON%/python.exe" -m pip install --upgrade nose
    "%PYTHON%/python.exe" -m pip install --upgrade coverage
    "%PYTHON%/python.exe" -m pip install --upgrade coveralls



before_test:
- ps: |
    cd ${Env:APPVEYOR_BUILD_FOLDER}\tests
    $env:PYTHONWARNINGS = "ignore:::pip._internal.cli.base_command"
    &"${Env:PYTHON}/python.exe" -m pip install --user --no-warn-script-location (ls "../dist/opencv_*.whl")
    if ($LastExitCode -ne 0) {throw $LastExitCode}

test_script:
- cmd: |
    cd %APPVEYOR_BUILD_FOLDER%
    "%PYTHON%/python.exe" setup.py nosetests --with-coverage --cover-package pyann

artifacts:
  - path: dist*